<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form method="POST" action="/people-app/login">
        <label for="email">Email</label>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/><br>
        <input type="submit" value="Log In"/>
        <a href="/people-app/home">Home</a>
        <a href="/people-app/signup">Sign Up</a>
    </form>
</body>
</html>